.auction-page__col{
    background-color: rgba($color: black, $alpha: 0.2);
padding: 100px 80px;
    .auction-page__box-img{
        display: flex;
      padding-left: 90px;
        flex-direction: column;
        gap: 20px;
    }
}