.auction-item {
  padding: 24px;
  margin-top: 20px;

  .image-card {
    .ant-image {
      display: block;
      width: 738px;
      height: 653px;
    }
  }

  .lot-details {
    margin-top: 24px;
    margin-left: 50px;

    .ant-typography {
      margin-bottom: 16px;
    }

    .ant-collapse-header {
      font-weight: bold;
    }
  }

  .details {
    .ant-typography {
      margin-bottom: 16px;
    }

    .lot-info,
    .estimate,
    .starting-bid {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 20px;

      .ant-typography {
        &:first-child {
          font-weight: normal;
          color: #00253e;
        }
        &:last-child {
          font-weight: bold;
          color: #292929;
        }
      }
    }

    &.fixed-right {
      position: sticky;
      top: 24px;
      margin-left: 30px;
      margin-right: 10px;
    }
  }

  .btn_register {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: #00253e;
    color: #fff;
    height: 48px;

    &:hover {
      background-color: rgb(57, 88, 147);
    }
  }
}
