.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-us-main {
    width: 100%;
    max-width: 1200px;
    // padding: 20px;
}

.top-image-section {
    width: 100vw;  /* Full width of the viewport */
    margin-left: calc(50% - 50vw); /* Center align */
    .top-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.intro-section {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #333;
}

.product-section {
    text-align: center;
    margin-bottom: 40px;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .product-cards {
        display: flex;
        // justify-content: space-around;
        justify-content: space-between;

        .product-card {
            text-align: center;

            img {
                width: 100%;
                max-width: 200px;
                border-radius: 10px;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.1rem;
                color: #333;
            }
        }
    }
}

.details-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .details-image {
        flex: 1;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .details-text {
        flex: 1;
        padding: 20px;
        font-size: 1rem;
        line-height: 1.6;

        p {
            margin-bottom: 10px;
        }
    }
}

.video-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;

    .video-text {
        flex: 1;
        text-align: center;
        margin-right: 20px;

        p:first-child {
            font-size: 1.5rem;
            font-style: italic;
            margin-bottom: 10px;
        }

        p:last-child {
            font-size: 1rem;
            color: #777;
        }
    }

    .video-embed {
        flex: 2;
        iframe {
            width: 100%;
            height: 300px;
            border: none;
        }
    }
}

footer {
    width: 100vw;  /* Full width of the viewport */
    margin-left: calc(50% - 50vw); /* Center align */
}
