.itemdetails-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemdetails-container {
  width: 80%;
  margin: 20px auto;
}

.itemdetails-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.itemdetails-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%;
  height: auto;
}

.thumbnail-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.thumbnail-images img {
  width: 80px;
  height: auto;
  margin-right: 5px;
}

.itemdetails-info {
  flex: 1;
  margin-left: 20px;
}

.itemdetails-info h1 {
  font-size: 1.5em;
}

.itemdetails-summary {
  display: flex;
  flex-direction: column;
}

.itemdetails-bid-info {
  margin-bottom: 20px;
}

.register-bid-button {
  padding: 10px 20px;
  background-color: #0046be;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.lot-details {
  margin-top: 20px;
}

.lot-details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.lot-details-section {
  margin-bottom: 20px;
}

.lot-details-section h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.lot-details-section p {
  margin: 0;
}
